/* Custom CSS */

/*
     FILE ARCHIVED ON 13:53:43 Mar 17, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:41:58 Sep 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.592
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.019
  esindex: 0.009
  cdx.remote: 125.274
  LoadShardBlock: 507.435 (3)
  PetaboxLoader3.datanode: 538.134 (4)
  PetaboxLoader3.resolve: 437.824 (2)
  load_resource: 522.778
*/