/* Custom CSS */

/*
     FILE ARCHIVED ON 07:48:48 Jul 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:37:27 Sep 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.231
  exclusion.robots: 0.05
  exclusion.robots.policy: 0.019
  esindex: 0.017
  cdx.remote: 111.644
  LoadShardBlock: 222.63 (3)
  PetaboxLoader3.datanode: 220.122 (4)
  load_resource: 234.16
  PetaboxLoader3.resolve: 155.893
*/