/* Custom CSS */

/*
     FILE ARCHIVED ON 00:09:01 Jun 14, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:38:52 Sep 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.736
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.014
  esindex: 0.014
  cdx.remote: 46.343
  LoadShardBlock: 129.41 (3)
  PetaboxLoader3.datanode: 212.65 (4)
  load_resource: 612.967
  PetaboxLoader3.resolve: 428.967
*/