/* Custom CSS */

/*
     FILE ARCHIVED ON 07:48:48 Jul 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:29:56 Sep 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.608
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.007
  esindex: 0.015
  cdx.remote: 73.525
  LoadShardBlock: 992.674 (3)
  PetaboxLoader3.datanode: 280.452 (4)
  PetaboxLoader3.resolve: 303.73 (2)
  load_resource: 293.869
*/