/* Custom CSS */

/*
     FILE ARCHIVED ON 20:46:35 May 10, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:43:07 Sep 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.773
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.014
  esindex: 0.013
  cdx.remote: 127.652
  LoadShardBlock: 473.811 (3)
  PetaboxLoader3.datanode: 527.075 (4)
  load_resource: 398.175
  PetaboxLoader3.resolve: 258.096
*/